{
    "domain": "my.awesome.domain.tld",
    "country": "GB",
    "state": "Farnborough",
    "locality": "Hampshire",
    "organization": "My Awesome Company",
    "organizational_unit": "IT Wizards",
    "common_name": "My Awesome CA"
}